<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mushroom.dao.Mm_attribute_valueMapper">
  <resultMap id="BaseResultMap" type="com.mushroom.pojo.Mm_attribute_value">
    <id column="attribute_value_id" jdbcType="INTEGER" property="attributeValueId" />
    <result column="attribute_value_name" jdbcType="VARCHAR" property="attributeValueName" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="reserved1" jdbcType="VARCHAR" property="reserved1" />
    <result column="reserved2" jdbcType="VARCHAR" property="reserved2" />
  </resultMap>
  <sql id="Base_Column_List">
    attribute_value_id, attribute_value_name, parent_id, reserved1, reserved2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mm_attribute_value
    where attribute_value_id = #{attributeValueId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mm_attribute_value
    where attribute_value_id = #{attributeValueId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mushroom.pojo.Mm_attribute_value">
    insert into mm_attribute_value (attribute_value_id, attribute_value_name, 
      parent_id, reserved1, reserved2
      )
    values (#{attributeValueId,jdbcType=INTEGER}, #{attributeValueName,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{reserved1,jdbcType=VARCHAR}, #{reserved2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mushroom.pojo.Mm_attribute_value">
    insert into mm_attribute_value
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="attributeValueId != null">
        attribute_value_id,
      </if>
      <if test="attributeValueName != null">
        attribute_value_name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="reserved1 != null">
        reserved1,
      </if>
      <if test="reserved2 != null">
        reserved2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="attributeValueId != null">
        #{attributeValueId,jdbcType=INTEGER},
      </if>
      <if test="attributeValueName != null">
        #{attributeValueName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="reserved1 != null">
        #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null">
        #{reserved2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mushroom.pojo.Mm_attribute_value">
    update mm_attribute_value
    <set>
      <if test="attributeValueName != null">
        attribute_value_name = #{attributeValueName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="reserved1 != null">
        reserved1 = #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null">
        reserved2 = #{reserved2,jdbcType=VARCHAR},
      </if>
    </set>
    where attribute_value_id = #{attributeValueId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mushroom.pojo.Mm_attribute_value">
    update mm_attribute_value
    set attribute_value_name = #{attributeValueName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      reserved1 = #{reserved1,jdbcType=VARCHAR},
      reserved2 = #{reserved2,jdbcType=VARCHAR}
    where attribute_value_id = #{attributeValueId,jdbcType=INTEGER}
  </update>
</mapper>