<!DOCTYPE HTML>
<html>
	<head>	
     
		<meta charset="UTF-8">
		<title>商家中心左边</title>
		<link rel="icon" href="../statics/img/login/logo_ioc.png" type="image/x-icon">
		<link rel="stylesheet" href="../statics/merchant/css/public.css" />
		<link rel="stylesheet" href="../statics/merchant/css/Business_Center_left.css" />
		 <!-- <script type="text/javascript" src="../statics/merchant/js/jquery-1.8.3.min.js" ></script>
	   <style type="text/css">
	   		a:hover{
				color: red!important;
				text-decoration: underline!important;
			}
	   </style> -->
	</head>
	<body>
		<!-- <iframe src ="" width="1000%" height="1000px" name="test">
<p>Your browser does not support iframes.</p>
</iframe> -->
		<div class="Business_Center_left">
			<div class="Business_Center_left_div">
				<div class="click">
					<h2>我购买的服务<i></i> </h2>
				</div>
				<div>
					<ul>
					</ul>
				</div>
			</div>
			<div class="Business_Center_left_div">
				<div class="click">
					<h2>我的快捷菜单</h2>
				</div>
				<div>
					<ul>
					</ul>
				</div>
			</div>
			<div class="Business_Center_left_div">
				<div >
					<div class="click">
						<h2><span class="pull_UP"></span>交易管理</h2>
					</div>
					<div>
						<ul>
							<li>
								<a href="sold_goods_index.html" >
									已经卖出的商品
							    </a>
							</li>
							<li>
								<a href="JavaScript:void(0)" target="test">
									评价管理
							    </a>
							</li>
							<li>
								<a href="JavaScript:void(0)" target="test">
									退换货管理
							    </a>
							</li>
						</ul>
					</div>
				</div>
				<div>
					<div class="click">
						<h2><span class="pull_UP"></span>物流管理</h2>
					</div>
					<div>
						<ul>
							<li>
								<a href="consignment_index.html">
									发货
							    </a>
							</li>
							<li>
								<a href="JavaScript:void(0)">
									物流工具
							    </a>
							</li>
							<li>
								<a href="JavaScript:void(0)">
									物流服务
							    </a>
							</li>
							<li>
								<a href="JavaScript:void(0)">
									我要发快递
							    </a>
							</li>
							<li>
								<a href="JavaScript:void(0)">
									物流数据
							    </a>
							</li>
						</ul>
					</div>
				</div>
				<div>
					<div class="click">
						<h2><span class="pull_UP"></span> 商品管理</h2>
					</div>
					<div>
						<ul>
							<li>
								<a href="shipments" >
									发布商品
							    </a>
							</li>
							<li>
								<a href="merchandise_in_warehouse_index">
									我的产品库
							    </a>
							</li>
							<li>
								<a href="merchandise_in_sale_index" >
									出售中的商品
							    </a>
							</li>
						</ul>
					</div>
				</div>
				<div>
					<div class="click">
						<h2><span class="pull_UP"></span> 店铺管理</h2>
					</div>
					<div>
						<ul>
							<li>
								<a href="dianpu.html"  >
									查看店铺
							    </a>
							</li>
							<li>
								<a href="JavaScript:void(0)">
									店铺装修
							    </a>
							</li>
						</ul>
					</div>
				</div>
				<div>
					<div class="click">
						<h2><span class="pull_UP"></span>货源中心</h2>
					</div>
					<div>
						<ul>
							<li>
								<a href="JavaScript:void(0)">
									分销管理
							    </a>
							</li>
							<li>
								<a href="JavaScript:void(0)">
									我要进货
							    </a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
		
		</div>
		<!--
        	作者：offline
        	时间：2017-11-17
        	描述：点击
        -->
       <!--  <script type="text/javascript">
        	$(function(){
        		$(".click").toggle(
        			function(){
        				$(this).removeClass("pull_down").next().slideUp();
        				$(this).find("span").removeClass("pull_UP").addClass("pull_down");
        			},
        			function(){
        				$(this).next().slideDown();
        				$(this).find("span").removeClass("pull_down").addClass("pull_UP");
        				
        			}
        		);
        	});
        </script> -->
	</body>
</html>
