
<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>仓库中的商品</title>
<link rel="icon" href="../statics/img/login/logo_ioc.png"
	type="image/x-icon">
<link rel="stylesheet" type="text/css"
	href="../statics/merchant/css/public.css" />
<link rel="stylesheet" type="text/css"
	href="../statics/merchant/css/iconfont.css" />
<link rel="stylesheet" type="text/css"
	href="../statics/merchant/css/Seller_Center.css" />
<link rel="stylesheet" type="text/css"
	href="../statics/merchant/css/index_all.css" />
<script type="text/javascript" src="../statics/js/jquery-2.1.4.min.js"></script>
<!-- <script type="text/javascript"
	src="../statics/merchant/js/merchandise_in_warehouse_index.js"></script> -->
</head>

<body class="media_screen_1200" >

	<div>
		<div id="page1"></div>
		<div id="page2"></div>
	</div>
	<!--
        	作者：offline
        	时间：2017-11-17
        	描述：内容
        -->
	<section style="position: relative; top: -10px; background: #FFFFFF;">
		<div class="center_top_bak">
			<div class="width">
				<ul class="center_top_ul">
					<li>首页</li>
					<li class="center_top_ul_li_select" style="border-color: #FFFFFF;">我的工作台</li>
					<li class="center_top_ul_li_right"><a href=""><i
							class="iconfont icon-shezhi"></i>账号设置</a></li>
				</ul>
				<!--
                    	作者：offline
                    	时间：2017-11-17
                    	描述：活动图片
                    -->
				<div></div>
			</div>
		</div>
		<div class="width">
			<!--
                	作者：offline
                	时间：2017-11-17
                	描述：左边
                -->
			<div class="center_left" id="page3"></div>
			<!--
                	作者：offline
                	时间：2017-11-17
                	描述：右边边
                -->
			<div class="center_right">
				<!--
                    	作者：offline
                    	时间：2017-11-17
                    	描述：消息特提醒
                    -->
				<div class="center_right_massage">
					<h4>
						<i class="iconfont icon-jingshi" style="color: #339ff8;"></i><span>
							重要提醒: </span>
					</h4>
				</div>
				<!--
                    	作者：offline
                    	时间：2017-11-17
                    	描述：店铺内容
                    -->
				<div id="page5"
					style="width: 100%; background: #e5f6ff; border: #e2ebf6 solid 2px;">


				</div>

			</div>
		</div>
	</section>
	<footer>
		<div id="page4"></div>

		<script>
			$("#page4").load("../headrandfoot/footer.html");
			$("#page2").load("../headrandfoot/search_head.html");
			$("#page3").load("business_Center_left.html");
			$("#page5").load("merchandise_in_warehouse.html");
		</script>
		<script type="text/javascript">
			$(function() {
	
		
		
				$("#header").css("display", "none");
				$(".selectbox").css("display", "none");
				$(".ts_txt").val("");
		
		
			})
			
			
		
		
		</script>
	</footer>
</body>
</html>
