<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>根据当前浏览器ip获取地理信息，包含省市区街道</title>
	<script src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js"></script>
</head>
<body>
	根据当前浏览器ip获取地理信息，包含国家省市区街道<br/>
	国家：<span style="color:red;" id="country"></span>   <br/>
	省份：<span style="color:red;" id="province"></span>   <br/>
	城市：<span style="color:red;" id="city"></span>  <br/>
	街道：<span style="color:red;" id="district"></span>
	<script>
		console.log(remote_ip_info);
		document.getElementById ("country").innerHTML = remote_ip_info.country;
		document.getElementById ("province").innerHTML = remote_ip_info.province;
		document.getElementById ("city").innerHTML = remote_ip_info.city;
		document.getElementById ("district").innerHTML = remote_ip_info.district;
	</script>
</body>
</html>