<div class="foot J_siteFooter" data-ptp="_foot">
			<div class="mgj_copyright">
				<div class="mgj_footer_helper">
					<div class="mgj_footer_helper_mod">
						<div class="mgj_footer_helper_mod_container">
							<h4 class="mgj_footer_helper_title color_666">- 新手帮助 -</h4>
							<ul>
								<li class="mgj_footer_helper_item">
									<a rel="nofollow" target="_blank" class="color_999" href="javascript:void(0);">常见问题</a>
								</li>
								<li class="mgj_footer_helper_item">
									<a rel="nofollow" target="_blank" class="color_999" href="javascript:void(0);">自助服务</a>
								</li>
								<li class="mgj_footer_helper_item">
									<a rel="nofollow" target="_blank" class="color_999" href="javascript:void(0);">联系客服</a>
								</li>
								<li class="mgj_footer_helper_item">
									<a rel="nofollow" target="_blank" class="color_999" href="javascript:void(0);">意见反馈</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="mgj_footer_helper_mod">
						<div class="mgj_footer_helper_mod_container">
							<h4 class="mgj_footer_helper_title color_666">- 权益保障 -</h4>
							<ul>
								<li class="mgj_footer_helper_item">
									<div class="color_999">全国包邮</div>
								</li>
								<li class="mgj_footer_helper_item">
									<div class="color_999">7天无理由退货</div>
								</li>
								<li class="mgj_footer_helper_item">
									<div class="color_999">退货运费补贴</div>
								</li>
								<li class="mgj_footer_helper_item">
									<div class="color_999">限时发货</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="mgj_footer_helper_mod">
						<div class="mgj_footer_helper_mod_container">
							<h4 class="mgj_footer_helper_title color_666">- 支付方式 -</h4>
							<ul>
								<li class="mgj_footer_helper_item">
									<div class="color_999">微信支付</div>
								</li>
								<li class="mgj_footer_helper_item">
									<div class="color_999">支付宝</div>
								</li>
								<li class="mgj_footer_helper_item">
									<div class="color_999">白付美支付</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="mgj_footer_helper_mod">
						<div class="mgj_footer_helper_mod_container">
							<h4 class="mgj_footer_helper_title color_666">- 移动客户端下载 -</h4>
							<ul>
								<li class="mgj_footer_helper_item mgj_footer_helper_item_last">
									<div class="color_999">潮时尚</div><img class="mgj_footer_helper_quoer_code" src="https://s3.mogucdn.com/mlcdn/c45406/171023_3ef94c11e31g34lghgbac75k2e4fb_1000x1000.png"></li>
								<li class="mgj_footer_helper_item mgj_footer_helper_item_last">
									<div class="color_999">美丽说</div><img class="mgj_footer_helper_quoer_code" src="http://s17.mogucdn.com/p2/161226/upload_5ii9f90fdide17hj3jkj3bfd121e3_280x280.png"></li>
								<li class="mgj_footer_helper_item mgj_footer_helper_item_last">
									<div class="color_999">uni引力</div><img class="mgj_footer_helper_quoer_code" src="http://s18.mogucdn.com/p2/161226/upload_892b80cj47j51h95f44cai2e0b002_280x280.png"></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="mgj_footer_mgjinfo">
					<ul>
						<li class="mgj_footer_mgjinfo_item">
							<a rel="nofollow" target="_blank" class="color_666" href="javascript:void(0);">关于我们</a>
						</li>
						<li class="mgj_footer_mgjinfo_item">
							<a rel="nofollow" target="_blank" class="color_666" href="javascript:void(0);">招聘信息</a>
						</li>
						<li class="mgj_footer_mgjinfo_item">
							<a rel="nofollow" target="_blank" class="color_666" href="javascript:void(0);">联系我们</a>
						</li>
						<li class="mgj_footer_mgjinfo_item">
							<a rel="nofollow" target="_blank" class="color_666" href="javascript:void(0);">商家入驻</a>
						</li>
						<li class="mgj_footer_mgjinfo_item">
							<a rel="nofollow" target="_blank" class="color_666" href="javascript:void(0);">商家后台</a>
						</li>
						<li class="mgj_footer_mgjinfo_item">
							<a rel="nofollow" target="_blank" class="color_666" href="javascript:void(0);">潮时商学院</a>
						</li>
						<li class="mgj_footer_mgjinfo_item">
							<a rel="nofollow" target="_blank" class="color_666" href="javascript:void(0);">商家社区</a>
						</li>
						<li class="mgj_footer_mgjinfo_item">
							<a rel="nofollow" target="_blank" class="color_666" href="javascript:void(0);">规则中心</a>
						</li>
						<li class="mgj_footer_mgjinfo_item">
							<a rel="nofollow" target="_blank" class="color_666" href="javascript:void(0);">有害信息举报</a>
						</li>
					</ul>
					<p class="mgjhostname color_999">©2017 Mogujie.com 深圳市北大青鸟版权所有</p>
				</div>
				<div class="mgj_footer_copyright">
					<p class="mgj_footer_copyright_container"><span class="mgj_footer_copyright_span color_999">营业执照：</span>
						<a rel="nofollow" target="_blank" class="mgj_footer_a color_999" href="javascript:void(0);">913301065526808764</a><b class="mgj_footer_b color_999"> | </b><span class="mgj_footer_copyright_span color_999">网络文化经营许可证：</span>
						<a rel="nofollow" target="_blank" class="mgj_footer_a color_999" href="javascript:void(0);">浙网文（2016）0349-219号</a><b class="mgj_footer_b color_999"> | </b><span class="mgj_footer_copyright_span color_999">增值电信业务经营许可证：</span>
						<a rel="nofollow" target="_blank" class="mgj_footer_a color_999" href="javascript:void(0);">浙B2-20110349</a><b class="mgj_footer_b color_999"> | </b><span class="mgj_footer_copyright_span color_999"></span>
						<a rel="nofollow" target="_blank" class="mgj_footer_a color_999" href="javascript:void(0);">安全责任书</a><b class="mgj_footer_b color_999"> | </b><span class="mgj_footer_copyright_span color_999"></span>
						<a rel="nofollow" target="_blank" class="mgj_footer_a color_999" href="javascript:void(0);">浙公网安备 33010602002329号</a><b class="mgj_footer_b color_999"> | </b><span class="mgj_footer_copyright_span color_999"></span>
						<a rel="nofollow" target="_blank" class="mgj_footer_a color_999" href="javascript:void(0);">互联网药品信息服务资格证书编号：（浙)-经营性-2018-0002</a><b class="mgj_footer_b color_999"> | </b><span class="mgj_footer_copyright_span color_999"></span>
						<a rel="nofollow" target="_blank" class="mgj_footer_a color_999" href="javascript:void(0);">浙网食A33010003</a><b class="mgj_footer_b color_999"> | </b></p>
				</div>
			</div>
		</div>
		
		<input type="hidden" value="${pageContext.request.contextPath }" id="path"/>

  

 <!--  <script type="text/javascript">
  	$(function() {
		$("#J_sticky_container").hide();
		$(window).scroll(function(e){
		
			var windosH=$(window).height();
			var  tos=parseInt($(this).scrollTop());
		 
			if(tos>higths("#body_wrap")){
				$("#J_sticky_container").show();
			}else{
				$("#J_sticky_container").hide();
			}
		});
		
	})
 
  
  </script> -->