<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<div class="header_mid clearfix">
	<div class="wrap">
		<a rel="nofollow" href="#" class="logo" title="潮时尚首页"
			style="background-image: none;"> <img
			src="../statics/img/logo3.png" alt="潮时尚，我的买手街">
		</a>
		<div class="normal-search-content">
			<div class="top_nav_search" id="nav_search_form">
				<!--搜索框 -->
				<div class="search_inner_box clearfix">
					<div class="selectbox" data-v="1">
						<span class="selected">搜商品</span>
						<ol>
							<li class="current" data-index="bao"><a href="#">商品</a></li>
							<li data-index="shop"><a href="#">店铺</a></li>
						</ol>
					</div>
					<form action="#" method="get" id="top_nav_form">
						<input type="text" name="q" class="ts_txt fl" data-def="百搭半袖上衣"
							value=""> <input type="submit" value="搜  索"
							class="ts_btn"> <input type="hidden" name="t" value="bao"
							id="select_type"> <input type="hidden" name="ptp"
							value="">
					</form>
					<div class="top_search_hint is-not-ie8-hack"></div>
				</div>

				<div class="ts_hotwords">
					<a rel="nofollow" class="ts_hotword" href="#" style="color: #666;">折叠电吹风</a>

				</div>
			</div>
		</div>
		<div class="mid_fr">

			<img
				src="../statics/img/171130_8gf90d0d5bgc4ag4kk82gi8kc287d_440x180.png"
				alt="潮时尚，我的买手街">

		</div>
	</div>
</div>
<!------------------------------------------------ 固定搜索框-------------------------------------->




