#site-mogujie #navListWrap {
	width: 160px;
	min-height: 600px;
	float: left
}

#body_wrap {
	margin-top: 20px
}

#address_wrap {
	min-height: 300px;
	float: left;
	padding-bottom: 20px
}

.address_pop .w140 {
	width: 140px
}

.address_pop .w100 {
	width: 100px
}

.address_pop .formsize_small {
	width: 40px
}

.address_pop .formsize_normal {
	width: 120px
}

.address_pop .formsize_large {
	width: 90%;
	_width: 396px
}

.address_pop {
	position: relative;
	padding: 20px 20px 20px 0;
	line-height: 38px
}

.address_pop dt {
	position: absolute;
	left: 0;
	width: 90px;
	color: #666;
	text-align: right
}

.address_pop dd {
	position: relative;
	padding-left: 106px;
	*zoom: 1
}

.address_pop .vm {
	vertical-align: middle
}

.address_pop .dt {
	margin-left: 12px;
	color: #666
}

.address_pop .prompt {
	padding-left: 8px;
	color: #999
}

.address_pop .breakline {
	display: block
}

.address_pop .notice {
	padding-left: 8px;
	color: #fa817e
}

.address_pop .needicon {
	position: absolute;
	top: 14px;
	left: 90px;
	color: #ff5a00;
	font-size: 14px;
	line-height: 14px;
	font-style: normal
}

.address_pop .confirm_btn {
	width: 104px;
	background:
		url(../images/170727_1abe5g73jjj49i1kgj6fg6dcj0j7e_360x900.png)
		-200px -217px no-repeat
}

.address_pop .cancel_btn, .address_pop .confirm_btn {
	display: inline-block;
	height: 34px;
	font: 0/0 a;
	overflow: hidden
}

.address_pop .cancel_btn {
	width: 68px;
	background:
		url(../images/170727_1abe5g73jjj49i1kgj6fg6dcj0j7e_360x900.png)
		-200px -251px no-repeat
}

.address_pop .cancel_btn:hover, .address_pop .confirm_btn:hover {
	opacity: .8;
	filter: alpha(opacity = 80)
}

.address_pop .text {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 6px 8px;
	height: 12px;
	line-height: 12px;
	color: #666;
	border: 1px solid #c7c7c7;
	border-radius: 2px
}

.address_pop .text:focus {
	border: 1px solid #999
}

.address_pop .textarea {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 6px 8px;
	line-height: 16px;
	color: #666;
	border: 1px solid #c7c7c7;
	border-radius: 2px;
	vertical-align: top
}

.address_pop .textarea:focus {
	border: 1px solid #999
}

.address_pop input.error, .address_pop input.error:focus, .address_pop textarea.error,
	.address_pop textarea.error:focus {
	border: 1px solid #fa817e
}

.pt_ie6hack {
	_padding-top: 8px
}

.addr_warp {
	border: 1px solid #dfdfdf;
	border-top: none;
	background: #f9f9f9
}

.addr_right {
	float: left;
	width: 800px;
	background: #fff
}

.addr_right .addr_title {
	padding-left: 20px;
	line-height: 43px;
	height: 43px;
	font-size: 16px;
	color: #333;
	border-bottom: 1px solid #dfdfdf;
	font-weight: 400
}

.add_new_addr span {
	width: 115px;
	text-indent: -999em;
	cursor: pointer;
	background: url(../images/170727_7h5i5bcbkiikgeiljb8hjg7k4211h_115x32.png) 
		no-repeat;
		background-size:95px 26px;
}

.add_new_addr .ftip, .add_new_addr span {
	float: left;
	overflow: hidden;
	height: 32px;
	line-height: 32px
}

.add_new_addr .ftip {
	color: #999;
	font-style: normal;
	padding-left: 10px;
	_display: inline
}

.addr_right .addr_edit {
	padding: 18px 18px 50px
}

.addr_edit .addressbox {
	display: none;
	margin-top: 10px;
	background: #fafafa;
	border: 1px solid #efefef;
	padding: 20px;
	margin-bottom: 30px
}

.addr_edit .addressbox ol {
	padding: 0
}

.addr_edit .choseaddress .title {
	border: 0
}

.addr_edit .addressbox .subbox {
	padding-bottom: 0
}

.addr_edit .addr_section {
	margin-top: 10px;
	padding: 13px 17px;
	border: 1px solid #efefef;
	background: #fafafa
}

.addr_edit .addr_section.default {
	border: 1px solid #dedcba;
	background: #fdfbea;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .1)
}

.addr_section li {
	float: left;
	line-height: 20px;
	color: #333
}

.addr_section .addressbox li {
	float: none
}

.addr_section li.name {
	width: 55px;
	margin-right: 5px;
	word-wrap: break-word;
	word-break: normal
}

.addr_section li.addr {
	width: 300px
}

.addr_section li.zcode {
	width: 50px
}

.addr_section li.oper {
	float: right
}

.addr_section li.oper a {
	display: inline-block;
	padding: 0 7px;
	margin: 2px 0;
	line-height: 16px;
	border-right: 1px solid #e2e2e2;
	color: #2f63cf
}

.addr_section li.oper a:hover {
	text-decoration: underline
}

.addr_section li.oper a.nobd {
	border-right: none
}

.addr_section li.enaddr {
	padding-left: 54px;
	width: 680px
}

.addr_edit .addr_section.default .oper .default {
	color: #999
}

.addr_edit .addr_section.default .oper .default:hover {
	text-decoration: none
}

.addr_edit .addr_section.default .oper .del.disable {
	color: #999;
	cursor: default
}

.addressbox .tip {
	margin-left: 81px
}

.tuihuo_intro {
	position: relative;
	margin: 0 18px;
	padding-left: 70px;
	*zoom: 1
}

.tuihuo_intro label {
	position: absolute;
	left: 0;
	top: 0;
	padding: 0 4px;
	width: 62px;
	height: 34px;
	text-align: right;
	line-height: 34px;
	color: #666
}

.tuihuo_intro .ctrl {
	position: relative;
	padding-right: 104px;
	color: #666;
	background:
		url(//s10.mogucdn.com/mlcdn/c45406/170727_7d07gcjebi3g9jhl01kb2gd71b5fc_1x34.jpg)
		0 0 repeat-x;
	border: 1px solid #bdbdbd;
	border-radius: 2px
}

.tuihuo_intro .ctrl .show_stage {
	padding: 6px 8px
}

.tuihuo_intro .ctrl .show, .tuihuo_intro .ctrl .showedit {
	width: 100%;
	border: none;
	background: none;
	overflow: hidden;
	line-height: 24px
}

.tuihuo_intro .ctrl .showedit {
	display: block;
	height: 6em;
	overflow-y: visible
}

.tuihuo_intro .ctrl .oper {
	position: absolute;
	top: 0;
	right: 0;
	width: 87px;
	height: 34px;
	padding-right: 17px;
	text-align: right
}

.tuihuo_intro .ctrl .oper .del, .tuihuo_intro .ctrl .oper .edit,
	.tuihuo_intro .ctrl .oper .save {
	display: inline-block;
	padding: 0 7px;
	margin: 9px 0;
	line-height: 16px;
	border-right: 1px solid #e2e2e2;
	color: #2f63cf
}

.tuihuo_intro .ctrl .oper .nobd {
	border-right: none
}

.tuihuo_intro .ctrl .stage_hide {
	display: none !important
}

.address_pop {
	margin: 30px 0 20px;
	background: #fafafa;
	border: 1px solid #efefef
}